<h1>Rename <%=@recipe.name() %> </h1>

<form action="/recipes/<%= @recipe.id() %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="recipe_name">Rename your recipe:</label>
  <input id="recipe_name" name="recipe_name" type="text">

  <button type="submit">Update</button>
</form>

<form action="/recipes/<%= @recipe.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <h5>Delete <%= @recipe.name %>?</h5>
  <button type="submit">Delete Recipe</button>
</form>


<form action="/recipes/<%= @recipe.id() %>" method="post">
  <input type="hidden" name="_method" value="patch" >
  <label for="instructions">Enter Instructions below</label>
  <br>
  <textarea name="instructions" rows="6" cols="40" id="instructions"><%= @recipe.instructions() %></textarea>
  <br>
  <button type="submit">Update Instructions</button>
</form>
